h1 {
    background-color: white;
}

.Rascal-Flatts {
    width: 376px;
    height: 376px;
    align-items: center;

}

h2 {
    background-color: white;
}

.Rascal-Flatts {
    width: 376px;
    height: 376px;
    align-items: center;
}

h3 {
    background-color: white;
}

.Rascal-Flatts {
    width: 376px;
    height: 376px;
    align-items: center;
}