h1 {
    background-color: red;
    text-align: center;
    border-style:double;
    border-color: black;
    margin: 10px;
    padding: 10px;
}

.Rascal-Flatts {
    width: 373px;
    height: 373px;
    align-items: center;

}

h2 {
    background-color: red;
    text-align: center;
    border-style:double;
    border-color: black;
    margin: 10px;
    padding: 10px;
}

.Rascal-Flatts {
    width: 373px;
    height: 373px;
    align-items: center;
}

h3 {
    background-color: white;
}

.Rascal-Flatts {
    width: 373px;
    height: 373px;
    align-items: center;
}